{
    "env": {
      "commonjs": true,
      "es2020": true,
      "browser": true
    },
    "extends": ["airbnb", "prettier"],
      "plugins": ["prettier", "babel", "react", "react-hooks", "jsx-a11y"],
      "parser": "babel-eslint",
      "parserOptions": {
        "ecmaVersion": 11
      },
      "rules": {
        "no-console": [0, { "allow": ["log", "warn", "error"] }],
        "no-useless-escape": 0,
        "prettier/prettier": [0, { "endOfLine": "auto" }],
        "func-names": 1,
        "no-unused-vars": 1,
        "import/no-commonjs": [0, { "allowRequire": true }],
        "import/newline-after-import": 1,
        "import/extensions": 0,
        "import/order": 0,
        "import/first": 0,
        "eqeqeq": 0,
        "no-process-exit": 2,
        "no-else-return": 0,
        "class-methods-use-this": 1,
        "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
        "react/destructuring-assignment": [0, "always", { "ignoreClassFields": true }],
        "react/require-default-props": [1, { "ignoreFunctionalComponents": true }],
        "react/jsx-wrap-multilines": 0
      }
  }
  