* {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
